*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url("images/bg.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
}


.btn{
    width: 350px;
    height: 100px;
    background: linear-gradient(#853916, #6b3019);
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Slabo 27px', serif;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;
    text-shadow: 0 10px 10px black;
    transform: rotateX(70deg) rotateZ(30deg);
    transform-style: preserve-3d;
    transition: transform 0.8s;
}


.btn:before{
    content: "";
    width: 100%;
    height: 15px;
    background-color:#6b3019;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotateX(90deg);
    transform-origin: bottom;
}

.btn:after{
    content: "";
    width: 15px;
    height: 100%;
    background-color:#6b3019;
    position: absolute;
    top: 0;
    right: 0;
    transform: rotateY(-90deg);
    transform-origin: right;
}

.btn:hover{
    transform: rotateX(30deg) rotateZ(0);
    background: transparent;
}
